<section id="search-jobs" class="hero is-large is-light has-text-centered">
  <div class="hero-body">
    <div class="container">
      <div class="level">
        <div class="level-item">
          <h1 class="title is-bold">7,000+ Browse Jobs</h1>
        </div>
      </div>
      <div id="box-search" class="columns">
        <div class="column">
          <div class="control is-expanded has-icons-left">
            <input class="input" type="text" placeholder="Buscar vacante..." />
            <span class="icon is-small is-left">
              <i class="fas fa-search"></i>
            </span>
          </div>
        </div>
        <div class="column is-2">
          <div class="control">
            <div class="select">
              <select>
                <option>Todas las Regiones</option>
                <option>With options</option>
              </select>
            </div>
          </div>
        </div>
        <div class="column is-2">
          <div class="control">
            <div class="select">
              <select>
                <option>Todas las Regiones</option>
                <option>With options</option>
              </select>
            </div>
          </div>
        </div>
        <div class="column is-1 is-two-thirds-tablet">
          <button class="button is-primary">Buscar</button>
        </div>
      </div>
    </div>
  </div>
</section>
