<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="container">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img src="assets/logo.png" width="112" height="28">
    </a>
    <a (click)="toggleButger()" role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div class="navbar-menu" [ngClass]="{'is-active':burger}">
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-primary">
            <strong>Publicar Vacante</strong>
          </a>
          <a class="button is-primary">
            <strong>Buscar Trabajo</strong>
          </a>
          <button (click)="modalSignin()" class="button is-primary modal-button">
            <strong>Registrarse</strong>
          </button>
          <button (click)="modalLogin()" class="button is-light modal-button">
            Ingresar
          </button>
        </div>
      </div>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Luis Cordero
        </a>
        <div class="navbar-dropdown is-right">
          <a class="navbar-item">
            Mi Cuenta
          </a>
          <a class="navbar-item">
            Panel de Control
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item">
            Salir
          </a>
        </div>
      </div>
    </div>
  </div></div>
</nav>